form {
    label {
        width: 100%;
    }

    textarea {
        height: 100px;
    }

    input,
    textarea {
        display: block;
        width: 100%;
        padding: 10px 15px;
        box-sizing: border-box;
        outline: none;
        resize: none;
        background: #fafafe !important;
        z-index: 2;
        position: relative;
        line-height: 18px;
        font-size: 16px;
        -webkit-transition: none 0s ease 0s;
        transition: none 0s ease 0s;
        border: 1px solid hsla(0, 0%, 80%, 0.37);
        margin: 10px 0 0;
    }

    button {
        text-indent: -10px;
        background: #333;
        color: #fff;
        box-shadow: 0 10px 50px rgba(58, 58, 58, 0.26);
        line-height: 1px;
        padding: 23px;
        text-transform: capitalize;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
        min-width: 186px;
        overflow: hidden;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        font-size: 15px;
        border: none;
        display: inline-block;
    }

    > div {
        margin-bottom: 15px;
    }
}
